.app-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  position: relative;
  width: calc(100% - 250px);
  transition: margin-left 0.3s, width 0.3s;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100%;
  }
} 